doctype html
html
  head
    title Демо Авторизация: nodejs, express и passportjs
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel='stylesheet', href='/css/main.css')
    meta(name="robots", content="noindex,nofollow")
  body
    block content