
<% include ./mapLayout %>      

        <script src="/js/confs/layersTree/layersTree2.js"></script>
        <script src="/js/require-config.js"></script>
        <script src="/js/app/map.js"></script>

	</body>
</html>